/vendor/
/bower_components/
/node_modules/
/.idea
/docroot/
/build/
.DS_Store
npm-debug.log
.eslintcache
/.env
*.pyc
db.sqlite3

/.miav
.miavmiav

miav
venv
myvenv
media
.media
*media
/media/
*media_devel
/media_devel/
.media_devel
*.pyc
staticfiles
.env
.myvenv
.idea
db.sqlite3
db
*.sqlite3
Thumbs.db
.vscode
local_settings.py
.local_settings
npm-debug.log
.npm-debug.log